@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body{
    background-image: linear-gradient(180deg, #ffffff, #7229d99c);
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
}


.flex{
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.flex > div{
    background: #159A9C;
    flex: 1 0 150px;
    text-align: center;
    margin: 10px;
    padding: 5px;
    border-radius: 4px;
}

.flex > div img{
    margin-bottom: 2px;
}

.flex > div a{
    background: #002333;
    padding: 3px;
    margin: 5px;
    border-radius: 4px;
    text-decoration: none;
    color: #FFFFFF;
}

/*tttttttttttttttttttttttttt*/

.conteiner{
display: flex;
justify-content: center;
align-items: center;
margin: auto;
height: 100vh;
}

.item{
    width: 80vh;
    height: 80vh;
    border-radius: 4px;
    padding: 10px;
    margin: 15px;
}

/*3333333*/

.swiper {
    width: 100%;
    height: 100%;
    border-radius: 4px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /*3333333*/

  /*********************************/

  .aTr{
    margin-top: -80px;
    background: #ffffff;
    padding: 5px;
    border-radius: 4px;
    text-align: center;
  }

  .aTr button{
    background: #7229d9;
    font-family: 'Poppins', sans-serif 20pt;
    color: #ffffff;
    padding: 10px;
    padding-left: 70px;
    padding-right: 70px;
    border: 1px solid #7229d9;
    border-radius: 4px;
  }

  .aTr button:hover{
    box-shadow: 3px 3px 3px black;
  }

  /***************pop up******************/

  .telaUm{
    background-color: #ffffff10;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    
    display: none;
  justify-content: center;
  align-items: center;
  margin: auto;

  }

  .telaDois{
    width: 550px;
    height: 350px;
    background: #ffffff;
    border-radius: 4px;
    padding: 15px;
    border: 2px solid #0023336e;
  }

  .telaDois button{
    background: #7229d9;
    font-family: 'Poppins', sans-serif 20pt;
    color: #ffffff;
    padding: 10px;
    padding-left: 70px;
    padding-right: 70px;
    border: 1px solid #7229d9;
    border-radius: 4px;
  }

  .telaTres img{
    width: 50px;
  }

  .telaTres{
    text-align: center;
  }

  .telaTres h2{
    margin-top: -10px;
  }

  .assUser{
    text-align: left;
    max-width: 350px;
    margin: auto;
    
  }

  .assUser input{
    width: 100%;
    border: 2px solid #7229d9;
    padding: 3px;
    border-radius: 4px;
  }

  .fFecha{
    text-align: right;
  }

  .fFecha a{
    text-decoration: none;
  }

  /******************* Menu ********************/

  /***************************************/
  @media(max-width: 600px){
    /*.swiper {
      width: 200px;
      height: 200px;
      border-radius: 4px;
    }*/

   .conteiner{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      width: auto;
      height: auto;
      }

    .item{
        width: 100%;
        height: 200px;
        border-radius: 4px;
        padding: 5px;
        margin: 15px;
    }

    .telaDois{
      margin: 50px;
    }

    .aTr{
      margin-top: 10px;
    }
  }